<!-- =======================
Cookies alert START -->
<div class="alert alert-dismissible fade show bg-dark text-white position-fixed start-0 bottom-0 z-index-99 shadow p-4 ms-3 mb-3 col-9 col-md-4 col-lg-3 col-xl-2" role="alert">
	کوکی ها در رایانه شما ذخیره خواهد شد. برای اطلاعات بیشتر به <a class="text-reset" href="#"> <u>شرایط و قوانین</u></a> سایت مراجعه کنید.
	<div class="mt-4">
		<button type="button" class="btn btn-success-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">پذیرفتن</span>
		</button>
		<button type="button" class="btn btn-danger-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">رد کردن</span>
		</button>
	</div>
	<div class="position-absolute end-0 top-0 mt-n3 me-n3"><img class="w-100" src="/site/images/cookie.svg" alt="cookie"></div>
</div>
<!-- =======================
Cookies alert END -->
