<div class="modal fade animate__animated fadeIn" id="modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div id="modalSize" class="modal-dialog modal-dialog-centered" role="document">
        <div id="modal-content" class="modal-content">
            
        </div>
    </div>
</div>