<div class="alert alert-info mb-4 mt-2 mx-3" role="alert">
    <div class="d-flex gap-3">
        <div class="flex-grow-1">
            <ul class="list-unstyled mb-0">
                <li>موردی یافت نشد!</li>
            </ul>
        </div>
    </div>
</div>
